:root {
  --brand-primary: #F56100;
  --brand-secondary: #34621E;
  --brand-alt: #FFF06B;
  --brand-alt-b: #D8E9E7;
}

#Live {
  margin-top: 5vh;
}
.share {
  padding-top: 2rem;
}
.text-bg1 {
  padding: 1rem 2rem 0 0;
  // margin: 2rem 0;
  color: white;
  --shadow-color: #000;
  span {
      line-height: 1.3;
      // padding: 4px 0;
      box-shadow: -20px 0px 0 2px var(--shadow-color), 20px 0px 0 2px var(--shadow-color), 0 0 0 2px var(--shadow-color);
      box-decoration-break: clone;
      background-color: var(--shadow-color);
  }
  .quote {
      background-color: #000;
  }
  .attrib {
      background-color:var(--primary-color);
      --shadow-color: var(--primary-color);
      color: black;
      font-style: italic;
      margin-left: 10px;
  }
  
}

// .audio-player {
  // margin: auto;
  // width: 80%;
  // @include mq(tablet) {
  //     width: 80%;

  // }
  // @include mq(desktop) {
  //     width: 60%;

  // }
// }

h1, h2 {
  line-height: 1.2;
  font-size: 42/16 + rem;
  // text-decoration: underline;
  // text-transform: uppercase;
  font-family: "Display Sans", serif;
  
  
  span {
    font-weight: 700;
    font-family: "Display Sans", serif;
  }
  @include mq(tablet) {
    font-size: 64/16 + rem;
  }
}

h1 {
  font-weight: 800;
}

h2 {
  font-weight: 800;
}

h3 {
  font-size: 30/16 + rem;
  font-weight: bold;
  font-family: "Display Sans", serif;
}

q {
  font-size: 1.4rem;
  padding: 0.5rem 0;
  display: block;
  &::before, &::after {
    content: '';
  }
  span {
    display: block;
    padding: 0.8rem 0 0.5rem;
  }
}

p {
  margin-top: 1rem;
  &:first-child {
    margin-top: 0;
  }
}

.d-flex {
  display: flex;
  &.d-center {
      justify-content: center;
      align-items: center;
  }
}

.loading {
  height: 100vh;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#Glabs {
  background-color: var(--brand-alt-b);
}

.scroll-icon {
  text-align: center;
  margin: 2rem 0 0;
  fill: white;
  stroke: white;
}

@import 'components/header';
@import 'components/standfirst';


.feature-title {
  background-color: var(--brand-secondary);
  padding: 0.7rem 1rem;

  @include mq(tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.feature {
  .title {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    color: white;
  }
  p {
    margin: 2rem auto;
  }
  @include mq(tablet) {
    p {
      max-width: 30rem;
    }
  }

  .image-grid {
    img {
      // width: 100%;
      margin-bottom: 0.5rem;
    }
  }

  .btn-back {
    --rad: 20px;
    background-color: var(--brand-alt);
    border-radius: var(--rad);
    position: relative;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    line-height: 1;
    i,svg {
      display: inline;
    }

    &::after {
      content: '';
      display: block;
      width: 90%;
      height: 82%;
      position: absolute;
      top: 10%;
      left: 5%;
      border: 3px solid var(--brand-alt-b);
      border-radius: var(--rad);
    }
  }
}
.feature-container {
  min-height: 80vh;
  .bg {
    background-image: linear-gradient(180deg, rgba(225,245,243,0) 48%, rgba(191,213,210,1) 48%);
    padding-bottom: 2rem;
  }
  header {
    margin-top: 2rem;
    clip-path: url('#clipper');
  }
}


.feature-home {
  display: flex;
  justify-content: center;
  margin: auto;
  
  .prompt {
    align-items: center;
    white-space: nowrap;
    border: 1px solid;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    padding-left: 4rem;
    position: relative;
    margin-bottom: 2rem;
    i {
      position: absolute;
      top: -1rem;
      left: -1rem;
    }    
  }

  .nav-container {
    padding: 3rem 0;
    width: 100%;

    @include mq(tablet) {
      padding: 8rem 0;
    }
  }

  nav {
    background: url("<%= path %>/mx30.png") no-repeat 50%;
    background-size: contain;
    width: 100%;
    height: 40vh;
    position: relative;
  }
  width: 100%;
  //sound, cabin, skyactive, style, sustainable
  $icons: (12, 1, 'sound'), (45, 83, 'cabin'), (79,65, 'skyactive'), (4,79, 'style'), (75,-8, 'sustainable');
  @mixin iconPos($icons) {
    @for $i from 1 to length($icons) + 1 {
      $pos: nth($icons, $i);
      .btn-#{nth($pos, 3)} {
        top: nth($pos, 2 ) + 0%;
        left: nth($pos, 1 ) + 0%;
      }
    }
  }
  @include iconPos($icons);
  // @include mq(mobile) {
  //   width: 500px;
  // }
  @include mq(tablet) {
    width: 600px;
    $icons: (18, -6, 'sound'), (45,98, 'cabin'), (89,66, 'skyactive'), (-2,80, 'style'), (75,-18, 'sustainable');
    @include iconPos($icons);

  }
  @include mq(desktop) {
    width: 800px;
    // $icons: (18, -6, 'sound'), (45,98, 'cabin'), (79,66, 'skyactive'), (4,80, 'style'), (75,-18, 'sustainable');
    $icons: (2,80, 'style'), (75,-18, 'sustainable');
    @include iconPos($icons);
  }
  .btn-feature {
    position: absolute;
    svg {
      transform: scale(0.7);
    }

    @include mq(tablet) {
      svg {
        transform: scale(1);
      }
    }

    .hover {
      stroke: var(--brand-primary);
      transition: all 0.5s ease-in-out;
      stroke-width: 4px;
    }
    // top: 20%;
    // left: 20%;
  }
}

section {
  padding: 2rem 0;
}

section.footer {
  // background-color: $stand-first-color;
  padding: 2rem;
  padding-bottom: 4rem;

  .disc p {
    font-size: 10/16 + rem;
    font-style: italic;
    line-height: 1.5;
  }

  .content {
    margin: auto;
    max-width: 60rem;
    @include mq($until: desktop ) {
      // padding-top: 1rem;

    }
  }
  .cta-wrap {
    margin: auto;
    max-width: 40rem;
  }
  .cta {
      p {
      
      font-size: 18/16 * 100%;
    }
    a {
      text-decoration: underline;
    }
  }
}



  #ShareMe {
    ul li {
      display: inline;
    }
    // li:nth-child(3) a {
    //   background-color: #767676 !important;
    //   svg {
    //     stroke: white;
        
    //   }
    // }

  }

  .share {
    a {
      box-sizing: content-box !important;
      display: flex !important;
      svg {
        width: 24px;
        height: 24px;
        // padding: 2px;
      }
    }
  }

  .related {
    width: 100%;    
    background: #EDF5F4;
    >div {
      max-width: 50rem;
    }
  }
  .ClientDetails {
    position: absolute;
    right: 2rem;
    top: 1rem;
  }
  .Title-Container h1 {
    font-family: "Guardian Headline Full";
    font-weight: 100;
  }

  @include mq($until: tablet) {
    #Glabs #Footer .InnerFooter .PartnerZoneLinks {
    flex-basis: 100%;
    }
  }

  .related-items {
    margin-top: 2rem;
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-gap: 10px;
    @include mq(desktop) {
      grid-template-columns: 1fr 1fr;
    }
    .related-item {
      // width: 50%;
      .img {
        margin-bottom: 1rem;
        height: 230/16 + rem;
        background-size: cover;
        background-position: 50%;
      }
      a {
        height: 100%;
        display: block;
        padding: 1rem;
        background: white;
        align-items: center;
        transition: border 200ms ease;
        // transform: rotateZ(0.01deg);
        border: 0px solid currentColor;
        &:hover {
          border-left: 6px solid currentColor;
        }
      }
    }
  }

.break {
  margin-top: 2rem;
  span {
    display: block;
    margin: 2px;
    height: 1px;
    background: #0000007d;
  }
}